<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>/* add your CSS here */
    body {
      font-family: Arial, Helvetica;
      font-size: 13px;
      color: #333;
    }
    .data-caption {
      font-weight: 900;
    }
    ul {
      list-style: none;
      border-top: 1px solid #333;
      border-bottom: 1px solid #333;
      padding: 10px 0;
    }
    .animal-card-border {
      border: 1px solid #000;
      margin: 10px 10px -5px;
    }
    .green-background {
      background: #d5eeea;
    }
    .orange-background {
      background: #f2f2ea;
    }
    .content {
      width: 322px;
      border: 1px solid #000;
      border-radius: 10px;
      margin: 0 auto;
      box-shadow: 0px 0px 20px #555; 
    }
    h3 {
      padding: 10px 0 8px 10px;
      margin-top: 10px;
      margin-bottom: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    .animal-info {
      padding: 10px;
      padding-bottom: 0;
      margin-top: 7px;
      margin-bottom: 10px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .interesting-facts {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: .9em;
      font-style: italic;
    }
    </style>
<body>
    <div class="content green-background">
		<!-- your favorite animal's name goes here -->
		<h3 class="orange-background animal-card-border">Wolves</h3>
		<!-- your favorite animal's image goes here -->
		<img class="animal-card-border" src="http://res.cloudinary.com/dxdktguhc/image/upload/v1523669636/Untitled.jpg" alt="Wolf with Glasses, Metro Version" width="300" height="200">
		<div class="animal-info orange-background animal-card-border">
			<!-- your favorite animal's interesting fact goes here -->
			<p class="interesting-facts">Wolves have about 200 million scent cells, they can smell other animals more than one mile (1.6 kilometers) away.</p>
			<ul>
				<!-- your favorite animal's list items go here -->
				<li><span class="data-caption">Scientific Name:</span> Canis lupus</li>
				<li><span class="data-caption">Average Length:</span> 1 – 1,6 m (Adult)</li>
				<li><span class="data-caption">Average Lifespan:</span> 5 – 6 años (On Freedom)</li>
				<li><span class="data-caption">Speed:</span> 50 – 60 km/h (Running)</li>
			</ul>
			<!-- your favorite animal's description goes here -->
			<p class="animal-description">Wolves live in groups called packs. A pack is a family of 7-8 wolves with a mom, dad, and offspring. The wolves' communication skills are very important to the pack's survival. Wolves work together to hunt, raise their young, and protect their territory. Wolves communicate with more than howls. They whimper and whine, growl and bark, yelp and snarl. They also use scents produced by their bodies to communicate.   </p>
		</div>
	</div>
</body>
</html>